#countLabel{
    display: block;
    text-align: center;
    font-size: 10rem;
}
.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}
.butt{
    font-size: 2rem;
    margin: 5px;
    border: 7px solid rgb(228, 199, 162);
    background-color: rgb(168, 226, 226);
    cursor: pointer;
}
